.pane-uber-publisher-latest-bar {
  background-color: white;
}

.pane-uber-publisher-latest-bar .pane-title {
  float: left;
  margin: 0 15px 0 0;
  padding: 4px 15px 4px 8px;
}

.pane-uber-publisher-latest-bar .pane-content {
  padding: 8px 10px;
}
