.news-ticker-list {
  width: 100%;
  overflow: hidden;
}

.news-ticker-list ul {
  padding: 0;
  margin: 0;
}

.news-ticker-list ul li {
  display: inline-block;
}

.news-ticker-list ul li:after {
  content: ' - ';
  display: inline-block;
  padding: 0 10px;
}

.news-ticker-list ul li.views-row-last:after {
  display: none;
}
