.fixed-pane-left {
  left: auto;
  right: 60px;
}

.fixed-pane-left a.button.browse {
  float: right;
}

.fixed-pane-left .container-inline-date .form-item .form-item-publish-on-date input {
  margin-right: 0px;
  padding-left: 20px;
}

.node-form .form-actions.form-wrapper {
  text-align: left;
}

.node-form .form-actions.form-wrapper input.form-submit {
  margin: 0em 1em 1em 0 !important;
}

body.page-node-add,
body.page-node-edit {
  padding-left: 0px;
  padding-right: 380px;
}

/************* Horizontal tabs **********************/
div.horizontal-tabs .horizontal-tabs-panes {
  float: right;
}

.horizontal-tabs ul.horizontal-tabs-list {
  float: right;
}

.horizontal-tabs ul.horizontal-tabs-list li {
  float: right;
}

.horizontal-tabs ul.horizontal-tabs-list li a {
  float: right;
}

/************* Uber Publisher Settings **********************/
.logo-uploaded {
  float: right;
  margin-right: 0px;
  margin-left: 15px;
}