body.up-navbar-sidebar {
  padding-left: 0;
  padding-right: 60px;
}

#up_navbar_header,
#up_navbar_navigation,
#up_navbar_header *,
#up_navbar_navigation * {
  text-align: right;
}

#up_navbar_navigation {
  left: auto;
  right: 0;
  top: 42px;
  border-right: 0 none;
  border-left: 1px solid #ccc;
}

#face_box {
  float: left;
  margin: 8px 0 0 8px;
}

#face_box .face-box-avatar .caret {
  margin: 10px 0 0 4px;
}


#face_box .face-box-dropdown {
  right: auto;
  left: 0;
  margin: 3px 0 0 2px;
}

#up_navbar_navigation .up-navbar-navigation-top a,
#up_navbar_navigation .up-navbar-navigation-bottom a {
  margin: 15px 18px 15px 0;
}

#up_navbar_navigation .up-navbar-navigation-top a span,
#up_navbar_navigation .up-navbar-navigation-bottom a span {
  margin-left: 0;
  margin-right: 8px;
}

#up_navbar_navigation .up-navbar-navigation-top a:hover span,
#up_navbar_navigation .up-navbar-navigation-bottom a:hover span {
  left: 0;
  right: 100%;
}

#up_navbar_navigation .up-navbar-navigation-top a span:before,
#up_navbar_navigation .up-navbar-navigation-bottom a span:before {
  right: 0;
  left: 100%;
}

#management-menu-wrapper {
  left: auto;
  right: 60px;
}

#management-menu-wrapper .link-depth-2 > a,
#management-menu-wrapper .link-depth-2 > a:hover,
#management-menu-wrapper .link-depth-2 > a.active {
  padding: 10px 0 16px 10px;
}

#up_navbar_header_menu {
  float: right;
  padding-left: 0;
  padding-right: 61px;
}

#up_navbar_header_menu .link-depth-1 {
  float: right;
  margin-right: 0;
  margin-left: 3px;
  padding: 5px 8px 5px 11px;
}

#up_navbar_header_menu ul li ul {
  left: auto;
  right: 0;
}

.up-navbar-sidebar #l10n-client.l10n-client-maximized {
  right: 61px;
  left: 0;
  width: auto;
}